html, body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.title {
    text-align: center;
    font-size: 3vh;
    margin-top: 10vh;
}

.search {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.search * {
    font-size: 2.5vh;
}

.search input, .search select, .search button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: solid black 1.9px;
}

.search input {
    color: grey;
}

.search select {
    background-color: white;
}

.search button {
    background-color: #e4e1e1;
    cursor: pointer;
}

.search div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vh;
}

.footer {
    margin-top: 5vh;
    text-align: right;
}

#result_wrapper, #spinner_wrapper {
    display: none;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.result span {
    font-size: 3vh;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    background-color: indigo;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    max-width: 200px;
    text-align: center;
}

.footer {
    margin-top: 20vh;
    font-size: 2vh;
    margin-right: 20px;
    margin-left: 20px;
}
